.input-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#add-button {
  width: 50px;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10%;
}

.books-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
}

.single-book:nth-child(odd) {
  background: rgb(189, 183, 183);
  } 

.single-book {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.author-name {
  display: flex;
  gap: 5px;
}

.bottom-contaniner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.input-form input {
  border: 1px solid black;
}

.input-form button {
  display: flex;
  align-self: flex-end;

}

.top-container h1 {
  text-align: center;
}