.input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

#add-button {
    width: 50px;
}

h3 {
    margin: 0;
    padding: 0;
}

.single-book {
    margin-bottom: 10px;
    padding: 8px;
    border-bottom: 1px solid #999999;
    width: 50%;
}